@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Carrito";
    IEnumerable<hotel_santa_ursula_II.Models.Carritoh> listProformas = new List<Carritoh>();
    
}

<section id="catalogue" class="catalogue section-bg">

<div class="container">
    <div class="section-title">
          <h2 data-aos="fade-in">Reservas Pendientes</h2>
          
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().Prodhab.Nomhab)
            </th>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().price)
            </th>
            <th></th>
        </tr>
    </thead>
    </div>
    </section>
    
    <tbody>
@foreach (Carritoh item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodhab.Nomhab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Quitar</a>
            </td>
            
        </tr>
        
}
<div>

</div>
    </tbody>
    
</table>
<div>
<a class="btn btn-warning" asp-area="" asp-controller="carrito2" asp-action="index2" style="float: right;">Siguiente</a>

</div>